@{
    ViewData["Title"] = "Home Page";
}
<div>
    <table>
        <thead>
            <tr>
                <th>Gig</th>
                <th>Venue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gig One</td>
                <td>Sheffield</td>
            </tr>
        </tbody>
    </table>
</div>