extends layout

block content
  h1= title
  p Welcome to #{title}

  table(style='width:100%', border='1')
      thead
        tr
          th Name
          th Url
      tbody
        each item in data
          tr
            td= item.name
            td= item.url